[submodule "NumericalMethods"]
	path = NumericalMethods
	url = git@github.com:Noarkhh/NumericalMethods.git
[submodule "ErlangAndElixir"]
	path = ErlangAndElixir
	url = git@github.com:Noarkhh/ErlangAndElixir.git
[submodule "OperatingSystemsLabs"]
	path = OperatingSystemsLabs
	url = git@github.com:Noarkhh/OperatingSystemsLabs.git
[submodule "DiscreetSystemsModelingLabs"]
	path = DiscreetSystemsModelingLabs
	url = git@github.com:Noarkhh/DiscreetSystemsModelingLabs.git
[submodule "ScalaLabs"]
	path = ScalaLabs
	url = git@github.com:Noarkhh/ScalaLabs.git
[submodule "FungalGrowth"]
	path = FungalGrowth
	url = .\\FungalGrowth\\
[submodule "AntsColonyProject"]
	path = AntsColonyProject
	url = .\\AntsColonyProject\\
